<ng-container *transloco="let t">
  <div class="mb-8">
    <h2 class="text-center text-2xl text-gray-900">
      {{ t('Sign in') }}
    </h2>
    <p class="mt-2 text-center ">
      {{ t('to continue to') }}
      <a href="#" class="rounded p-2px -m-2px font-medium text-navy-500 focus:text-navy-600 focus:bg-navy-50">
        SampleApp
      </a>
    </p>
  </div>
  <form #f="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="outline relative m-px ring-1 ring-gray-300 rounded bg-white focus-within:ring-2 focus-within:ring-navy-500">
      <input formControlName="username" type="text" name="username" placeholder=" " class="appearance-none border-none block w-full p-4 py-3 text-gray-900 placeholder-gray-500 focus:ring-0 bg-transparent" />
      <label for="username" class="absolute top-0 text-gray-500 rounded p-4 py-3 duration-150 origin-0 select-none pointer-events-none">Username</label>
    </div>

    <div class="flex items-center justify-between mt-8">
      <a href="#" class="p-2 -m-2 rounded text-sm text-navy-500 hover:text-blue-900 hover:bg-navy-50 focus:bg-navy-100">
        {{ t('Create account') }}
      </a>
      <button type="submit" class="py-2 px-6 border-none rounded text-sm text-white bg-navy-500 hover:bg-navy-600 focus:outline-none focus:bg-navy-700">
        {{ t('Next') }}
      </button>
    </div>
  </form>
</ng-container>
